{% extends "base.html" %}
{% block index %}
        <div class="row" style="height:85vh; background:#0000CC; color: #fff;">
                <div class="col-md-10 col-md-offset-1 text-center" style="font-size:100px; padding-top:25vh">
                        <img src="static/img/origin.png" style="width: 50%; height: 50%">
                        <h1 style="font-weight:300">Search Engine for Data Scientists</h1>
                        <h3 style="font-weight:300";line-height:25px>Origin is an analysis platform for querying and analyzing large networks.<br>It is a big data pipeline fueled by CommonCrawl, focused on discovering new communities. </h3>

                </div>
        </div>
{% endblock %}
