{% extends "base.html" %}
{% block origin_table_render %}

   <div class="container">
      <div class="starter-template">
        <div class="row" style="height:100vh;">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>url</th>
                          <th>example_links</th>
                          <th>total_links</th>
                          <th>rank</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for val in output %}
                        <tr>
                          <td>{{val.url}}</td>
                          <td>{{val.example_links}}</td>
                          <td>{{val.total_links}}</td>
                          <td>{{val.rank}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
        </div>
      </div>

    </div>

{% endblock %}
