{% extends "base.html" %}
{% block slides %}

 <div class="row" style="min-height:100vh;">
                <div class="col-md-10 col-md-offset-1 text-center" style="padding-top:10vh; font-weight:300">
                        <h2>Presentation</h2>
			<iframe src="https://docs.google.com/presentation/d/1CYU5cE2Am6tV4T7r7Q60kmCwDocwtve9pLXrxZFEe-A/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
</div>

{% endblock %}
